* {
  box-sizing: border-box;
}

:root {
  --background-color: #262626;
  --light-text-color: #f9f4da;
  --dark-text-color: #8e8e8e;
  --game-status-background-playing: #7a5ea7;
  --game-status-background-win: #10a95b;
  --game-status-background-loss: #ba2a2a;
  --letter-background-color: #323232;
  --key-background: rgba(252, 186, 41, 1);
  --key-color: #1e1e1e;
  --key-border-color: #d7d7d7;
  --new-game-btn: #11b5e5;
  --right-key-guessed: #10a95b;
  --wrong-key-guessed: #ec5d49;
}

body {
  background-color: var(--background-color);
  text-align: center;
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--light-text-color);
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  line-height: 1.4;
}

main {
  max-width: 600px;
}

h1,
.game-status-title {
  color: var(--light-text-color);
  font-size: 1.25rem;
  font-weight: 500;
}

h1 {
  margin-bottom: 0.5rem;
}

.instructions {
  color: var(--dark-text-color);
  font-size: 0.875rem;
  max-width: 350px;
  margin: 0 auto 0.5rem;
}

.game-status-section {
  background-color: var(--game-status-background-win);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 2.25rem;
}

.game-status-title,
.game-status-text {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.game-status-text {
  font-size: 1rem;
}

.languages-section {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.language {
  font-size: 0.75rem;
  padding: 0.3215rem;
  background-color: #ba2a2a;
  border-radius: 0.25rem;
  font-weight: bold;
}

p.language {
  margin: 0;
}

.letters-section {
  margin: 36px auto 0 auto;
  display: flex;
  justify-content: center;
}

.letter {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.55rem 0.33rem;
  margin-right: 2px;
  width: 2.5rem;
  height: 2.5rem;
  border-bottom: 1px solid white;
  text-align: center;
  background-color: var(--letter-background-color);
}

.keyboard {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.key-letter {
  width: 40px;
  height: 40px;
  font-weight: 500;
  background-color: var(--key-background);
  color: var(--key-color);
  border: 1px solid var(--key-border-color);
  border-radius: 0.25rem;
  cursor: pointer;
}

.new-game-btn {
  margin-top: 2.25rem;
  margin-bottom: 4rem;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-weight: 600;
  padding: 0.6rem;
  width: 228px;
  color: var(--key-color);
  background-color: var(--new-game-btn);
  border: 1px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.wrongKey {
  background-color: var(--wrong-key-guessed);
}

.rightKey {
  background-color: var(--right-key-guessed);
}
